.train-chart {
  position: relative;  
}

.x-axis-header {

  ul {
    margin-left: 6rem;

    li {
      float: left;
      text-align: left;
      width: calc(100% / 12);

      span {
        @include san-serif-regular;
        border-bottom: .3rem solid $highlight-color;
        font-size: .8rem;
      }

      &::before {
        border-left: .1rem dotted $dark;
        content: '';
        height: 100%;
        position: absolute;
        top: 1.5rem;
        z-index: 3;
      }
    }
  }
}

.time-table {
  margin-top: 1rem;
}

.date-line {
  padding: 1rem 0;
  position: relative;

  &::before {
    background: transparent;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background .1s linear;
    width: 100%;
    z-index: 2;
  }

  &:hover::before {
    background: $white-50 !important;
  }

  &:hover {

    .date-display::after {
      transform: rotate(45deg) scale(1.15);
    }
  }
}

.date-line:nth-child(even) {

  &::before {
    background: $white-15;
  }
}

.month-bar {
  background: $highlight-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 2.3rem;
  width: 1.5rem;
  z-index: 10;
}

.month-display {
  @include san-serif-bold;
  color: $dark;
  font-size: .8rem;
  left: -1.5rem;
  position: absolute;
  text-transform: uppercase;
  top: -.5rem;
  transform: rotate(-90deg) translate(-50%,0);
  z-index: 10;
}

.date-display {  
  height: 100%;
  left: .1rem;
  overflow: hidden;
  position: absolute;
  text-align: right;
  top: 0;
  width: 6rem;
  z-index: 4;

  span {
    @include san-serif-regular;
    color: $background-color-light;
    font-size: 1rem;
    padding: .4rem .3rem 0 0;
    position: relative;
    z-index: 1;
  }

  &::after {
    background: $dark;
    content: '';
    height: 4.4rem;
    right: -2.2rem;
    position: absolute;
    top: -2.2rem;
    transform: rotate(45deg) scale(1);
    transition: transform .1s linear;
    width: 4.4rem;
  }

  /* &::before {
    background: $highlight-color;
    border-radius: 100%;
    content: '';
    height: 6rem;
    right: -3rem;
    position: absolute;
    top: -3rem;
    width: 6rem;
  } */
}

.entries-for-date {
  align-items: flex-start;
  display: flex;
  margin-left: 6rem;
  position: relative;
  z-index: 4;
}

.engine-manifest {
  -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  background-color: transparent;
  border: 0;
  cursor: pointer;
  left: 0;
  outline: none;
  position: absolute;
  transform: translateY(0);
  top: 0;
  transition: transform .15s linear;
  z-index: 2;

  &:hover {
    transform: translateY(-5px);
  }

  &:hover {

    .engine-details-button {
      transform: scale(1,1);
    }
  }

  .engine-number {
    @include san-serif-light;
    border-radius: 1rem;
    background: $background-color-light;
    clear: both;
    color: $white;
    float: left;
    margin-bottom: .1rem;
    padding: .2rem .8rem;
    position: relative;
    z-index: 1;
  }

  .engine-details-button {
    @include san-serif-light;
    background: $dark;
    border-radius: 1rem;
    clear: both;
    color: $white;
    content: '...';
    float: left;
    padding: .2rem .8rem .3rem;
    text-align: center;
    transform: scale(0,0);
    transition: transform .15s ease-in-out .1s, background .15s linear;

    &:hover {
      background: $highlight-color;
    }
  }
}