.detail-panel {

  .form-wrapper {
    background: $dark;
    width: 100%;

    .edit-entry-button {
      background: $dark;
      border: 0;
      cursor: pointer;
      height: 3rem;
      outline: none;
      padding: 0;
      text-align: left;
      width: 100%;

      div {
        background: $dark;
        padding: .7rem 3rem 1.3rem;
        transition: transform .25s ease-in-out;
        width: 100%;
        will-change: transform;
      }

      &:hover {

        div {
          transform: translateY(-1rem);
        }

        .text-button {
          border-bottom-color: transparent;
        }
      }

      &:active {

        div {
          transform: translateY(0);
        }
      }
    }

    .app-form {
      margin-bottom: 0;
      overflow: hidden;
      padding: .5rem 3rem 3rem;
    }
  }
}
