.detail-panel {

  .form-wrapper {
    background: $dark;
    width: 100%;

    .edit-entry-button {
      background: $dark;
      border: 0;
      // bottom: -1.5rem;
      height: 3rem;
      // left: 0;
      outline: none;
      padding: 0 3rem;
      // position: absolute;
      text-align: left;
      transition: transform .25s ease-in-out;
      width: 100%;
      will-change: transform;
    
      &:hover {
        transform: translateY(-1rem);
      }
    }

    .app-form {
      margin-bottom: 0;
      overflow: hidden;
      padding: .5rem 3rem 3rem;
    }
  }
}
