.app-form {

  .form-input {
    @include san-serif-body;
    background: $background-color-lighter;
    border: none;
    border-radius: .1rem;
    color: $dark;
    display: block;
    font-size: 1.3rem;
    padding: 1rem .5rem;
    width: 100%;
  }

  .form-label {
    @include clearfix;
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;

    span {
      @include san-serif-bold;
      color: $background-color;
      display: block;
      font-size: 1rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }
  }

  .form-error {
    @include san-serif-body;
    color: $error;
    font-size: 1.3rem;
    margin-top: 1rem;
  }

}