header {
  padding: 2rem 0;
  position: relative;
  text-align: center;

  &::before {
    background: $highlight-color;
    border-radius: 100%;
    content: '';
    height: 15rem;
    left: 50%;
    margin-left: -7.5rem;
    position: absolute;
    top: 5rem;
    width: 15rem;
    z-index: 1;
  }
}

.app-logo {
  opacity: .9;
  position: relative;
  z-index: 2;
}

.app-title {
  @include display-type;
  color: $dark;
  font-size: 2.4rem;
  opacity: .9;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
