.menu-container {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform .15s linear;
  z-index: 9998;

  &.menu-fixed {
    position: fixed;
  }

  .menu-button {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    background: $dark;
    border: none;
    border-radius: 1.6rem;
    cursor: pointer;
    height: 3.2rem;
    outline: none;
    position: relative;
    top: 10rem;
    transform: translateX(-1.6rem);
    transition: transform .15s linear, border .15s linear, background .25s ease-in-out;
    z-index: 2;
    width: 3.2rem;
  
    .menu-icon {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: .6rem;
      transform: translateX(0); 
      transition: transform .15s linear;
      width: 100%;
    }
  
    .menu-bar {
      background: $white;
      border-radius: .2rem;
      display: block;
      height: .1rem;
      margin: .4rem auto;
      transform-origin: center;
      transition: all .15s ease-in-out;
      width: 1.2rem;
    }
  
    &:hover {
      background: $highlight-color;
  
      .menu-bar:nth-child(1) {
        background: $dark;
        transform: translate(-.3rem, .2rem) rotate(-45deg);
        width: .8rem;
      }
  
      .menu-bar:nth-child(2) {
        background: $dark;
        transform: scale(1, 1);
      }
  
      .menu-bar:nth-child(3) {
        background: $dark;
        transform: translate(-.3rem, -.2rem) rotate(45deg);
        width: .8rem;
      }
    }
  
    &:active {
  
      .menu-icon {
        transform: scale(.9, .9); 
      }
    }
  }
}

.open {
  transform: translateX(-40rem);

  .menu-button {
    background: $background-color-light;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transform: translateX(3.2rem);

    .menu-bar {
      background: $dark;
    }

    .menu-bar:nth-child(1) {
      transform: translate(-.3rem, .5rem) rotate(45deg);
      width: 1.6rem;
    }

    .menu-bar:nth-child(2) {
      transform: scale(0, 0);
    }

    .menu-bar:nth-child(3) {
      transform: translate(-.3rem, -.5rem) rotate(-45deg);
      width: 1.6rem;
    }

    &:hover {
      background: $background-color-light;
  
      .menu-bar:nth-child(1) {
        transform: translate(.3rem, .2rem) rotate(45deg);
        width: .8rem;
      }

      .menu-bar:nth-child(3) {
        transform: translate(.3rem, -.2rem) rotate(-45deg);
        width: .8rem;
      }
    }
  }
}
