.inline-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.heading-xl {
  @include san-serif-light;
  font-size: 5rem;
  letter-spacing: -.05em;
}

.heading-lg {
  @include display-type;
  font-size: 1.8rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.page-heading-divider {
  border-top: .2rem solid $dark-50;
  margin: 0 3rem .8rem;
  padding-top: .8rem;
  text-align: center;
}

.body-copy {
  @include san-serif-body;
  font-size: 1.2rem;
  line-height: 1.5;
}

.body-xsmall {
  @include san-serif-body;
  font-size: .9rem;
  line-height: 1.2;
}
