.aggregate-data-visualization-module {
  border-bottom: .1rem solid $dark-25;
  border-top: .1rem solid $dark-25;
  margin: 0 3rem;
  margin: 0 auto;
  width: calc(100% - 6rem);

  .module-inner {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
  }
}

.data-filters {
  position: relative;
  width: 15rem;
  z-index: 2;

  button {
    @include display-type;
    background: transparent;
    border: 0;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;

    span {
      position: relative;
      z-index: 3;
    }

    &::before {
      background: $highlight-color;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.25s ease-in-out;
      width: 100%;
    }

    &:hover::before {
      transform: scaleX(.1);
    }

    &.active::before {
      transform: scaleX(1.08);
    }
  }
}

.data-filters-inner {
  margin-top: 1.5rem;

  li {
    margin-bottom: 1rem;
    position: relative;
  }
}

.data-visualization {
  border-left: .5rem solid $dark-15;
  overflow: auto;
  padding-left: 3rem;
  width: calc(100% - 15rem);

  .data-table {
    margin: 2rem 0;
    min-width: calc(76.8rem - 18rem);
  }

  .y-axis-header {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  .y-axis-row {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    position: relative;
    width: 100%;
  }

  .row-label {
    text-align: right;
    width: 10rem;
  }

  .row-axis {
    border-bottom: .1rem dotted $dark-15;
    margin-bottom: .5rem;
    margin-left: 1rem;
    width: calc(100% - 21rem);
  }

  .x-axis {
    margin-left: 11rem;
    width: calc(100% - 21rem);
  }

  .data-set-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% + 2rem);

    li {
      font-size: .8rem;
    }
  }
}

.engine-values-table {

  .value-display {
    bottom: .5rem;
    content: '';
    height: .1rem;
    left: 0;
    margin-left: 11rem;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    width: calc(100% - 21rem);
  }

  &.initial-state {

    .value-display {
      transform: scaleX(0) !important;
    }
  }
}
