.schedule-values-table {
  position: relative;

  .y-axis {
    max-height: none;
  }

  .y-axis-row {
    height: 4rem;
    margin-bottom: 0;

    .row-label {
      padding-top: .8rem;
    }
  }

  .scatterplot {
    height: 100%;
    left: 0;
    margin-left: 11rem;
    position: absolute;
    top: 2.2rem;
    width: calc(100% - 21rem);
  }

  .line-group {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    border: 0;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    height: 4rem;
    left: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
    width: 1%;
    will-change: transform;
    z-index: 2;

    &:hover {
      transform: scale(1.35);
    }
  }
  
  .line-group-item {
    width: 100%;
  }
}
