.weekday-values-table {

  .y-axis {
    overflow: visible;
  }

  .row-axis {
    position: relative;
  }

  .value-density-disc {
    border-radius: 100%;
    opacity: .5;
    position: absolute;
    top: calc(50% + .4rem);
    transform: translate(-50%, -50%);
  }
}