@mixin display-type {
  font-family: $display-font;
  font-style: normal;
  font-weight: 400;
}

@mixin san-serif-light {
  font-family: $san-serif-font;
  font-style: normal;
  font-weight: 300;
}

@mixin san-serif-regular {
  font-family: $san-serif-font;
  font-style: normal;
  font-weight: 500;
}

@mixin san-serif-bold {
  font-family: $san-serif-font;
  font-style: normal;
  font-weight: 700;
}