$display-font: 'Archivo Black', Helvetica, Arial, Roboto, sans-serif;
$serif-font: 'Frank Ruhl Libre', Helvetica, Arial, Roboto, sans-serif;

$background-color: #d1d1c5;
$background-color-light: #e5e5d9;
$highlight-color: #e9d37d;
// $highlight-color: #ff5e38;
$dark: #282826;
$white: #fff;
